---
layout: default
title: Home
---

<h3 id="nav-title">
  {% include orgname.txt %} who gave their love to create such beauty are:
</h3>

<div id="sifters-container">
  <div id="angela-container" class="sifter-container" style="float: left">
    <img width="400px" height="600px" src="{{ site.baseurl }}/images/sifters/angela.jpg" alt="Angela Scharff" class="sifter-image">
    <div id="angela-content" class="sifter-content">
      <h4>Angela Scharff</h4>
      <p class="sifter-include">{% include angela-bio.html %}</p>
    </div>
  </div>

  <div id="claudia-container" class="sifter-container" style="float: left">
    <img width="400px" height="600px" src="{{ site.baseurl }}/images/sifters/claudia.jpg" alt="Claudia Toca" class="sifter-image">
    <div id="claudia-content" class="sifter-content">
      <h4>Claudia Toca</h4>
      <p class="sifter-include">{% include claudia-bio.html %}</p>
    </div>
  </div>

  <div id="sonia-container" class="sifter-container" style="float: right">
    <img width="400px" height="600px" src="{{ site.baseurl }}/images/sifters/sonia.jpg" alt="Sonia Hodin" class="sifter-image">
    <div id="sonia-content" class="sifter-content">
      <h4>Sonia Hodin</h4>
      <p class="sifter-include">{% include sonia-bio.html %}</p>
    </div>
  </div>
</div>

<div id="products-container">
  <a href="{{ site.baseurl }}/galleries/cookies.html" id="cookie-link">
    <div id="cookie-container" class="product-container" style="float: left">
      <img width="400px" height="415px" src="{{ site.baseurl }}/images/products/cookie.jpg" alt="Cookies" class="product-image">
      <div id="cookie-content" class="product-content">
        <p class="product-include">{% include cookie-tagline.html %}</p>
      </div>
    </div>
  </a>

  <a href="{{ site.baseurl }}/galleries/pottery.html" id="pottery-link">
    <div id="pottery-container" class="product-container" style="float: left">
      <img width="400px" height="415px" src="{{ site.baseurl }}/images/products/pottery.jpg" alt="Pottery" class="product-image">
      <div id="pottery-content" class="product-content">
        <p class="product-include">{% include pottery-tagline.html %}</p>
      </div>
    </div>
  </a>

  <a href="{{ site.baseurl }}/galleries/art.html" id="art-link">
    <div id="art-container" class="product-container" style="float: right">
      <img width="400px" height="415px" src="{{ site.baseurl }}/images/products/art.jpg" alt="Art" class="product-image">
      <div id="art-content" class="product-content">
        <p class="product-include">{% include art-tagline.html %}</p>
      </div>
    </div>
  </a>
</div>
