.sifter-container {
  width: 396px;
  height: 594px;
  position:relative;
}

.sifter-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.sifter-content {
  position: absolute;
  top: 66%;
  left: 0;
  right: 0;
  width: 100%;
  height: 35%;
  color: white;
  text-align: center;

  h4 {
    font-weight: bold;
    text-decoration: underline;
  }
  
  .sifter-include {
    white-space: pre-wrap;
    font-size: 0.75em;
    text-align: justify;
    padding: 5px;
  }
}

#sonia-content {
  background: linear-gradient(rgba($sonia-theme-color, 0.5), $sonia-theme-color);
}

#claudia-content {
  background: linear-gradient(rgba($claudia-theme-color, 0.5), $claudia-theme-color);
}

#angela-content {
  background: linear-gradient(rgba($angela-theme-color, 0.5), $angela-theme-color);
}

#sifters-container {
  border: 3px outset $outset-border-color;
  padding: 3px;
  height: 600px;
}