// This file manages the theme of the default layout exclusively.
// Body styling

body,html {
  height: 100%;
}

#container {
  max-width: 1200px;
  height: 100%;
  margin: auto;
}

// Gallery metadata styling

#gallery-title {
  text-decoration: underline;
  text-transform: capitalize;
}

#gallery-units {
  width: 7ch;
}

#out-of-stock {
  color: red;
  text-decoration: underline;
  text-transform: uppercase;
}

// Gallery proper styling
.gallery.left {
  transform: rotate(-5deg)
}

.gallery.right {
  transform: rotate(5deg)
}

.gallery.left:nth-child(1) {
  margin-bottom: 5px
}

.gallery.left:nth-child(2) {
  margin-bottom: 30px
}

.gallery.left:nth-child(3) {
  margin-bottom: 55px
}

.gallery#focus {
  margin-left: 15px;
  margin-right: 15px;
}

.gallery.right:nth-child(1) {
  margin-bottom: 55px
}

.gallery.right:nth-child(2) {
  margin-bottom: 30px
}

.gallery.right:nth-child(3) {
  margin-bottom: 5px
}

#gallery {
  width: 1820px;
  margin: auto
}

#gallery .arrow {
  margin-bottom: -10px;
}

#gallery #arrow-left {
  transform: rotate(175deg)
}

#gallery #arrow-right {
  transform: rotate(5deg)
}
