// This file holds definitions of named colors used in other style files
// This section can be easily edited: The comments after the semicolons describe where the color is used...
// And the colors themselves (#XXXXXX) can be chosen on a site like https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool
// Copy the hex designation of the color to replace the old definition, and it will propagate through the style files immediately

// Large element colors
$primary-theme-color: #000000; // Used eg for the background of the body of pages, for contrast (with added transparency)

// Sifter's colors: Used when signifying a particular sifter
// Used eg as the background for the sifter overlays on the index page
$sonia-theme-color: #0000FF; // Sonia Hodin
$claudia-theme-color: #00AA00; // Claudia Toca
$angela-theme-color: #FF0000; // Angela Scharff

// Product colors: Used to signify particular products
// Used eg as the background for the product overlays on the index page
$cookie-theme-color: #07F7E7; // Baked goods
$pottery-theme-color:#07F7E7; // Ceramic goods
$art-theme-color: #07F7E7; // Painted goods

// Subtitle overlay color: The background for the subtitle overlay
$subtitle-overlay-color: #00AA00;

// Accent colors: These have no notable semantic uses, but are named to ensure sitewide consistency
$outset-border-color: #656565; // The color on borders of elements that "pop out" of the site
