<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}

  <!-- Theme page for this layout in particular -->
  <link rel="stylesheet" href="{{ site.baseurl }}/styles/layout_default.css" type="text/css">
  
  {% if page.script %}
    <!-- Page-specific script -->
    <script src="{{ page.script }}" type="text/javascript"></script>
  {% endif %}
</head>

<body>
  <div id="container">
    <header>
      {% include header.html %}
    </header>

    <main>
      {{ content }}
    </main>
  </div>
</body>
</html>