.gallery {
  border: 1px solid aquamarine;
}

.gallery.left {
  transform: rotate(-5deg)
}

.gallery.right {
  transform: rotate(5deg)
}

.gallery.left:nth-child(1) {
  margin-bottom: 15px
}

.gallery.left:nth-child(2) {
  margin-bottom: 30px
}

.gallery.left:nth-child(3) {
  margin-bottom: 45px
}

.gallery.left:nth-child(4) {
  margin-bottom: 60px
}

.gallery.left:nth-child(5) {
  margin-bottom: 75px
}

.gallery#focus {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 10px;
}

.gallery.right:nth-child(1) {
  margin-bottom: 75px
}

.gallery.right:nth-child(2) {
  margin-bottom: 60px
}

.gallery.right:nth-child(3) {
  margin-bottom: 45px
}

.gallery.right:nth-child(4) {
  margin-bottom: 30px
}

.gallery.right:nth-child(5) {
  margin-bottom: 15px
}

#gallery {
  width: 1820px;
  margin: auto
}

#gallery .arrow {
  margin-bottom: 5px;
}

#gallery #arrow-left {
  transform: rotate(175deg)
}

#gallery #arrow-right {
  transform: rotate(5deg)
}

#enlarged {
  position: absolute;
  width: 512px;
  margin-left: 687px;
  opacity: 0;

  transition: .5 all ease;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  -o-transition: .5s all ease;
  -ms-transition: .5s all ease;
}
